h3 {
  color: lightgrey;
  margin: 2.5em;
  font-size: medium;
  align-items: center;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.LoginButton {
  background-color: steelblue;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  margin-right: 10px;
}

.LogoutButton {
  background-color: slateblue;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
}

.RegisterButton {
  background-color: palevioletred;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
}

.SigninButtons,
.LogoutButton {
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

.AppDescription {
  letter-spacing: 6px;
  color: lightgrey;
}
