.PinCard {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.PinCardLabel {
  width: max-content;
  color: pink;
  font-size: 15px;
  border-bottom: 1px solid pink;
  margin: 3px 0;
}

.PinCardDesc {
  display: flex;
  align-items: right;
  font-size: 14px;
}

.PinStar {
  display: flex;
  align-items: right;
  color: gold;
}
