.PinCard {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.PinCardLabel {
  width: max-content;
  color: pink;
  font-size: 1 rem;
  border-bottom: 1px solid pink;
  margin: 0.188 0;
}

.PinCardDesc {
  display: flex;
  font-size: 14px;
}

.PinStar {
  display: flex;
  color: gold;
}

.Form {
  display: flex;
  flex-direction: column;
  color: #cc8696;
  align-items: center;
  justify-content: center;
}

.pinLocation {
  font-size: medium;
  width: 250px;
  padding: 5px;
}

.pinDate {
  font-size: medium;
  width: 250px;
  padding: 5px;
}

.pinRating {
  font-size: medium;
  width: 250px;
  padding: 5px;
}

.pinNotes {
  font-size: medium;
  height: 100px;
  width: 250px;
  overflow-y: scroll;
  padding: 10px;
}

.SubmitButton {
  height: 30px;
  margin: 10px;
  width: 100px;
  border-radius: 10px;
  border: none;
  align-self: center;
  background-color: #cc8696;
  color: whitesmoke;
  font-size: 1em;
  cursor: pointer;
}

.SubmitButton:hover {
  background-color: lightgrey;
}

.PinImageContent {
  position: fixed;
  top: 10px;
  right: 15px;
}

.pinPicture {
  padding: 5px;
}

.Upload {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.PinCardOptionsButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
