.AddProfileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileForm {
  color: #cc8696;
  margin: 1px;
  align-items: center;
}

.Upload {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  color: #cc8696;
  margin-top: 20px;
}

.Submit {
  height: 30px;
  width: 45px;
  border-radius: 10px;
  border: none;
  align-self: center;
  background-color: lightgrey;
  color: whitesmoke;
  font-size: 1em;
}

.Submit:hover {
  background-color: #cc8696;
}

.userName {
  font-size: medium;
  width: 300px;
  padding: 10px;
}

.userBio {
  font-size: medium;
  height: 200px;
  width: 300px;
  overflow-y: scroll;
  padding: 10px;
}

.Ptag {
  color: #cc8696;
  letter-spacing: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
