.AddProfileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileForm {
  color: #cc8696;
  margin: 1px;
  align-items: center;
}

.FormButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.Upload {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  color: #cc8696;
  margin-top: 20px;
}

.Submit {
  height: 30px;
  width: 45px;
  border-radius: 10px;
  text-align: center;
  transition: 1s ease-in-out;
  background-color: lightgrey;
  color: whitesmoke;
}

.Cancel {
  height: 30px;
  width: 45px;
  border-radius: 10px;
  text-align: center;
  transition: 1s;
  background-color: lightgrey;
  color: whitesmoke;
}
#userName {
  font-size: medium;
  width: 300px;
  padding: 10px;
}

#userBio {
  font-size: medium;
  height: 200px;
  width: 300px;
  overflow-y: scroll;
  padding: 10px;
}

.Ptag {
  letter-spacing: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
