.Form-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.ProfileForm {
  color: #cc8696;
  margin: 20px;
  align-items: center;
}
.FormButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.Upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cc8696;
  text-align: center;
  margin-top: 20px;
}

.Submit {
  height: 30px;
  width: 45px;
  border-radius: 10px;
  text-align: center;
  transition: 1s;
}
.Cancel {
  height: 30px;
  width: 45px;
  border-radius: 10px;
  text-align: center;
  transition: 1s;
}
