.Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 220px;
  padding: 20px;
  border-radius: 5px;
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.Logo {
  display: flex;
  align-items: center;
  color: #e8abb9;
  font-weight: 700;
}

.RegisterBtn {
  margin: 10px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: palevioletred;
}

.Success {
  color: green;
  font-size: 12px;
  text-align: center;
}

.Wrong {
  color: red;
  font-size: 12px;
  text-align: center;
}

.RegisterCancel {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #e8abb9;
  cursor: pointer;
}
