.WelcomeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin: 1em;
}

h2 {
  display: flex;
  letter-spacing: 6px;
  color: #f7b9c7;
  margin-top: 3rem;
  font-weight: 700;
}

h4 {
  display: flex;
  letter-spacing: 6px;
  color: lightgrey;
  margin-top: 3rem;
}

h5 {
  position: fixed;
  right: 10px;
  bottom: 80px;
  letter-spacing: 6px;
  color: #f7b9c7;
  margin-top: 3rem;
}
