@import url("https://fonts.google.com/specimen/Libre+Baskerville#standard-styles");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 8vh auto 8vh;
}
.Main {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 2rem;
  text-align: center;
  background-color: white;
}
