*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Main {
  overflow-y: scroll;
}
.Footer {
  background-color: #e8abb9;
}

.Nav {
  display: flex;
  justify-content: space-around;
}

.Navlink {
  text-decoration: none;
  color: #ffffff;
}
