@import url("https://fonts.google.com/specimen/Libre+Baskerville#standard-styles");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
